body {
    display: flex;
    height: 100vh;
    margin: 0; 
}

.heart-container{
    width: 200px;
    height: 20px;
    position: relative;
    border-color: gray;
    border-style: solid;
    border-radius: 20px;
}

.sheld-container{
    width: 200px;
    height: 20px;
    position: relative;
    border-color: gray;
    border-style: solid;
    border-radius: 20px;
}

.speed-container{
    width: 200px;
    height: 20px;
    position: relative;
    border-color: gray;
    border-style: solid;
    border-radius: 20px;
}

.health-bar {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: lime;
    transition: width 0.1s;
    border-radius: 20px;
}

.sheld-bar {
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgb(0, 195, 255);
    transition: width 0.1s;
    border-radius: 20px;
}

.speed-bar {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgb(255, 230, 0);
    transition: width 0.1s;
    border-radius: 20px;
}

.webgl{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

#timer{
    font-weight: bold;
    color: white;
    font-size: 30px;
    margin-left: 40px;
    margin-top: 0px;
}

#fulltime {
    font-weight: bold;
    color: white;
    font-size: 20px;
    text-align: center;
  }
  
#fulltimetwo {
    font-weight: bold;
    color: white;
    font-size: 20px;
    text-align: center;
  }

ul{
    list-style: none;
    display: flex;
    z-index: 2;
    position: relative;
    gap: 1rem;
}

.progress-bar-container {
    background-image: url('assets/images/levels/LevelTwoLoadingScreen.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 3;
    transform: translate(-50%, -50%);
}

#progress-bar {
    width: 30%;
    height: 5%;
    z-index: 3;
}

label {
    color: white;
    font-weight: bold;
    font-size: 40px;
    margin-top: 20px;
    z-index: 3;
}

p{
    color: white;
    font-weight: bold;
    font-size: larger;
    margin-top: 10px;
}

.warning{
    background-color: red;
    background-size: cover;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    opacity: 0.1;
    z-index: 3;
    display: none;
}

.game-over{
    background-image: url('assets/images/GameOver_WinningScreen_Images/Level2.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    z-index: 3;
    display: none;
    opacity: 0.9;
}

.game-over h1 {
    font-size: 72px;
    color: white;
    z-index: 3;
    text-align: center;
  }

.game-over a {
    text-decoration: none;
    color: white;
    z-index: 3;
}

.game-over a:hover{
    background: linear-gradient(to right, #2486e2, #ab5ed8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 3;
}

.game-over nav {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

.game-over ul{
    list-style: none;
    font-weight: bold;
    font-size: 34px;
    flex: content;
    z-index: 3;
    display: flex;
    position: relative;
    gap: 2rem;
}

.winner{
    background-image: url('assets/images/GameOver_WinningScreen_Images/Level2.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    z-index: 3;
    display: none;
    opacity: 0.9;
}

.winner h1 {
    font-size: 72px;
    color: white;
    z-index: 3;
    text-align: center;
  }

.winner a {
    text-decoration: none;
    color: white;
    z-index: 3;
}

.winner a:hover{
    background: linear-gradient(to right, #2486e2, #ab5ed8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 3;
}

.winner nav {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

.winner ul{
    list-style: none;
    font-weight: bold;
    font-size: 34px;
    flex: content;
    z-index: 3;
    display: flex;
    position: relative;
    gap: 2rem;
}


